.index {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #10584b1f;
  height: 860px;
  overflow: hidden;
  width: 1440px;
}

.index .overlap {
  height: 941px;
  position: relative;
  top: -42px;
}

.index .hero-section {
  height: 941px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.index .text-wrapper {
  color: #0b3c2d;
  font-family: "Cooper Lt BT-Light", Helvetica;
  font-size: 40px;
  font-weight: 300;
  height: 40px;
  left: 447px;
  letter-spacing: -1.2px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 458px;
  white-space: nowrap;
}

.index .div {
  color: #777777;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 48px;
  left: 546px;
  letter-spacing: -0.5px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 518px;
  width: 348px;
}

.index .scissors-cut {
  height: 138px;
  left: 0;
  position: absolute;
  top: 281px;
  width: 1440px;
}

.index .group {
  height: 38px;
  left: 504px;
  position: absolute;
  top: 591px;
  width: 435px;
}

.index .overlap-group {
  border: 1px solid;
  border-color: #10584b3b;
  border-radius: 8px;
  height: 38px;
  position: relative;
  width: 433px;
}

.index .text-wrapper-2 {
  color: #a2a2a2;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 15px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 11px;
  white-space: nowrap;
}

.index .frame {
  align-items: center;
  background-color: #176e44;
  border-radius: 0px 8px 8px 0px;
  display: flex;
  gap: 8px;
  justify-content: center;
  left: 332px;
  overflow: hidden;
  padding: 12px 17px;
  position: absolute;
  top: -1px;
  width: 100px;
}

.index .text-wrapper-3 {
  color: #f7f7f7;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.14px;
  line-height: 14px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.index .nav {
  box-shadow: 0px 4px 4px #00000040;
  height: 72px;
  left: 0;
  position: absolute;
  top: 42px;
  width: 1440px;
}

.index .img {
  height: 24px;
  left: 164px;
  position: absolute;
  top: 27px;
  width: 124px;
}

.index .p {
  color: #9c9c9c;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 1031px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 32px;
  white-space: nowrap;
}
